.navbar{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ccc;
    background-color: white;
    width: 100vw;
}
.menu{
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-right: 160px;
}
.menu li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
}
.menu li:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}