.home-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 520px;
    margin-top: 50px;
}
.news-letter{
    height: 190px;
    width: 100vw;
    background-color: #EFF2F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news-letter h2{
    font-weight: 600;
    font-size: 20px;
}
.news-letter p{
    font-size: 16px;
    color: #606060;
    font-weight: 400;
}
.subscribe{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 400px;
    justify-content: space-between;
}
.subscribe input{
    width: 274px;
    height: 40px;
    padding-left: 10px;
    border-radius: 6px;
    border: 1px solid #DEE2E7;
    box-sizing: border-box;
}
.subscribe button{
    width: 110px;
    height: 40px;
    background-color: #127FFF;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 6px;
}
.contact-info{
    height: 256px;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-top: 40px;
}
.brand-info{
    width: 276px;
    height: 157px;
    display: flex;
    flex-direction: column;;
}
.title img{
    height: 44px;
}
.title h2{
    color: #8CB7F5;
    margin-left: 6px;
    font-size: 30px;
}
.brand-info p{
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #505050;
}
.app-buttons{
    margin-top: 16px;
    list-style: none;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.app-buttons li:hover{
    cursor: pointer;
}
.app-buttons li img{
  transition: filter 0.3s ease;
}
.app-buttons li img:hover {
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
}
.contact-list{
    list-style: none;
    width: 80px;
    height: 135px;

}
.contact-list li h2{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    color: black;
}
.contact-list li{
    font-size: 16px;
    margin-bottom: 10px;
    color: #8B96A5;
    font-weight: 400;
}
.contact-list li:hover{
    color: black;
    transition: 0.2s;
    cursor: pointer;
}
.get-app{
    display: flex;
    flex-direction: column;
    width: 124px;
    height: 130px;
}
.get-app h2{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}
.download-button{
    width: 124px;
    height: 42px;
    background-color: black;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}
.download-button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 6px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.footer-end{
    height: 68px;
    background-color: #EFF2F4;
    border: 1px solid #DEE2E7;
    width: 100vw;
    padding-left: 158px;
    display: flex;
    flex-direction: row;
    align-items: center;
}